<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ app_name }}.local
    DocumentRoot /var/www/{{ app_name }}

    <Directory /var/www/{{ app_name }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
